<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="./assets/Login/forgototppass.png" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1>Online Shopping App</h1>
                <h4>Forgot Password</h4>
                <br>
                <form [formGroup] = "forgetPasswordOTPForm" (ngSubmit) = "doChange()">
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <label> Email : </label>
                            <input type = "text" class="form-control" formControlName = "useremail" >
                            <div *ngIf = "l.useremail.errors && l.useremail.touched" class="text-danger">
                                <div *ngIf = "l.useremail.errors.required">Email is required</div>
                                <div *ngIf = "l.useremail.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <button class = "btn1 mt-3 mb-5" (click) = getOtp()>{{buttonname}}</button>
                            <div *ngIf = "otpstatus">
                                <label> OTP : </label>
                                <input type = "text" class="form-control" formControlName="otp">
                                <div *ngIf = "l.otp.errors && l.otp.touched" class="text-danger">
                                    <div *ngIf = "l.otp.errors.required">OTP is required</div>
                                    <div *ngIf = "l.otp.errors.pattern">OTP must be of 4 digits</div>
                                    <!--<div *ngIf = "l.otp.errors.minlength && l.otp.errors.maxlength">OTP is of 4 numbers</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> New Password : </label>
                            <input type = "password" class="form-control" formControlName = "newpassword">
                            <div *ngIf="l.newpassword.errors && l.newpassword.touched" class="text-danger">
                                <div *ngIf = "l.newpassword.errors.required">Password is required</div>
                                <div *ngIf = "l.newpassword.errors.minlength">Password must be of minimum 6 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> Confirm New Password : </label>
                            <input type = "password" class="form-control" formControlName = "confirmnewpassword">
                            <div *ngIf="l.confirmnewpassword.errors && l.confirmnewpassword.touched" class="text-danger">
                                <div *ngIf = "l.confirmnewpassword.errors.required">Confirm Password is required</div>
                                <div *ngIf = "l.confirmnewpassword.errors.mustmatch">Password must match</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button class="btn1 mt-3 mb-5">Change Password</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</section>
