<br><br><br>
<div class="container">
    <h1>Retailer Approval List</h1>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <th>Retailer ID</th>
        <th>Retailer Name</th>
        <th>Retailer email</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor = "let retailer of retailerList">
            <td>{{retailer.retailerid}}</td>
            <td>{{retailer.retailername}}</td>
            <td>{{retailer.retaileremail}}</td>
            <td><button class="btn btn-danger" (click) = "ApporveRetailer(retailer.retailerid,retailer.retaileremail)">Approve</button></td>
        </tr>
    </tbody>
</table>