
<div class="container">
    <br><br>
    <h3><i><u>Hello, {{useremail}} !! Here is your compare list!!!</u></i></h3>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mx-auto my-5 d-flex" *ngFor="let uc of usercart">
        <div class="card full shadow">
          <img src="http://localhost:56783/Image/{{uc.productimage1}}" class="img-fluid" alt="" width="200px" height="250px">
          <div class="card-body">
            <div class="card-text">
              <h3 class="card-title">{{ uc.productname }}</h3>
              <h4 style="color: rgb(30, 99, 163)"> Price : {{ uc.productprice }} &#8377;</h4>
              <h6 style="color: grey "> Description: {{ uc.productdescription }}</h6>
              
              <button type="button" class="btn btn-warning"  (click) = "removefromcompare(uc.compareid)" > Remove from compare List </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>