.card{
    max-width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.containernew{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height:300px;
    width:30px;
}
.containernew img{
    height: fit-content;
    width: fit-content;
   
}
h2{
    color: red;
}
p{
    font-size: medium;
}
.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .layout-container {
    max-width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.product-grid {
    padding-top: 5%;
    padding-bottom: 5%;
}
.product-image {
    width: 100%;
    height: 0;
    padding-bottom: 66.66667%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-container {
    position: relative;
}
.image-container:hover .product-image{
    opacity: 0.3;
    background-size:120%;
}
.image-container:hover .overlay{
    opacity: 1;
}
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.overlay .button {
    width: 160px;
    line-height: 38px;
}
.overlay .button:first-child {
    margin-bottom: 2em;
}
.product-details {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 40px;
}
.product-brand {
    display: block;
    margin: .5em 0;
    color: #7d7d7d;
}
.product-title {
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-family: Roboto;
}
.product-price {
    font-size: 1.14286em;
    color: #9f9f9f;
    font-family: Playfair Display;
}
.btn1{
    border: none;
    outline: none;
    height: 43px;
    width: 83%;
    background-color:  #3A3A35;
    color:white;
    border-radius: 4px;
    font-weight: bold;
    position: absolute;
    bottom: 3%;
}

.containernew{
    position: absolute;
    width: 50%;
    height: 50%;
}

.containernew img{
    height: 60%;
    width: 50%;
}

.shadow {
    box-shadow: 12px 12px 22px grey;
}

@media screen and (max-width: 767px) {
    .header-block {
        width: 100%;
    }
}