@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.navbar-nav.navbar-center {
  position: absolute;
  left: 10%;
  transform: translatex(-50%);
}

.navbar {
  background-color: rgb(198, 153, 207);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
  cursor: pointer;
  font-family: 'Barlow', sans-serif;  
  color: black;
  text-transform: uppercase;
  padding-top: 5px;
  letter-spacing: 0.15em;
  font-weight: bold;
}
/* for drop down*/
.dropdown {
  position: relative;
  padding-top: 5px;
  display: inline-block;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

button {
  color: black;
  background-color: white;
}
h6 {
  padding-top: 4%;
}