<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="./assets/Login/userlogin.jpg" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1>Online Shopping App</h1>
                <h4> Login into your account</h4>
                <br><br>
                <form [formGroup] = "loginForm" (ngSubmit) = "doLogin()">
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <label> Email : </label>
                            <input type = "text" class="form-control" formControlName = "useremail" >
                            <div *ngIf = "h.useremail.errors && h.useremail.touched" class="text-danger">
                                <div *ngIf = "h.useremail.errors.required">Email is required</div>
                                <div *ngIf = "h.useremail.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> Password : </label>
                            <input type = "password" class="form-control" formControlName = "userpassword">
                            <div *ngIf="h.userpassword.errors &&h.userpassword.touched" class="text-danger">
                                <div *ngIf = "h.userpassword.errors.required">Password is required</div>
                                <div *ngIf = "h.userpassword.errors.minlength">Password must be of minimum 6 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button class="btn1 mt-3 mb-5">Login</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <a routerLink ='/forgotpassword'>Forgot Password</a>
                            <p>Don't have an account ? <a routerLink="/userregister">Create Account</a></p>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
  </section>
