.row {
    background-color: rgb(218, 213, 213);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 550px;
}
.btn1 {
    border: none;
    border: 1px solid black;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.5s;
}
.btn1:hover {
    border: 1px solid gray;
    background-color: black;
    color: white;
}