.row{
    background-color: rgb(218, 213, 213);
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 600px;
    width: max-content;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color:white;
    border-radius: 4px;
    font-weight: bold;
}