<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="./assets/Login/loginside.jpg" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1>Online Shopping App</h1>
                <h4>Create your account</h4>
                <br><br>
                <form [formGroup] = "registerForm" (ngSubmit) = "doRegister()">
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <label> Retailer Name :</label>
                            <input type = "text" class="form-control" formControlName = "retailername" >
                            <div *ngIf = "g.retailername.errors && g.retailername.touched" class="text-danger">
                                <div *ngIf = "g.retailername.errors.required">Retailer Name is required</div>
                                <div *ngIf = "g.retailername.errors.minlength">Retailer Name should be of minimum length 5</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <label> Retailer Email :</label>
                            <input type = "text" class="form-control" formControlName = "retaileremail">
                            <div *ngIf = "g.retaileremail.errors && g.retaileremail.touched" class="text-danger">
                                <div *ngIf = "g.retaileremail.errors.required">Email is required</div>
                                <div *ngIf = "g.retaileremail.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> Password : </label>
                            <input type = "password" class="form-control" formControlName = "retailerpassword">
                            <div *ngIf="g.retailerpassword.errors && g.retailerpassword.touched" class="text-danger">
                                <div *ngIf = "g.retailerpassword.errors.required">Password is required</div>
                                <div *ngIf = "g.retailerpassword.errors.minlength">Password must be of minimum 6 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> Confirm Password : </label>
                            <input type = "password" class="form-control" formControlName = "confretailerpassword">
                            <div *ngIf="g.confretailerpassword.errors && g.confretailerpassword.touched" class="text-danger">
                                <div *ngIf = "g.confretailerpassword.errors.required">Confirm Password is required</div>
                                <div *ngIf = "g.confretailerpassword.errors.mustmatch">Password must match</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button class="btn1 mt-3 mb-5">Register</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <a routerLink ='/forgotpassword'>Forgot Password</a>
                            <p>Already have an account ? <a routerLink = '/retailerlogin'> Login </a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--phone, apartment, street,town, state, pincode, country-->